@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 90vw;
  min-height: 100vh;
  user-select:none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.wasd, .arrow{
  display: grid;
  margin-right: 10vw;
  margin-left: 10vw;
}
.wasd img:first-child, .arrow img:first-child{
  grid-row: 1;
  grid-column: 2;
}
.wasd img:nth-child(2), .arrow img:nth-child(2){
  grid-row: 2;
  grid-column: 1;
}
.wasd img:nth-child(3), .arrow img:nth-child(3){
  grid-row: 2;
  grid-column: 2;
}
.wasd img:nth-child(4), .arrow img:nth-child(4){
  grid-row: 2;
  grid-column: 3;
}

.keys{
  display: flex;
  place-items: center;
}

.shift{
  display: flex;
  place-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.acknowledgement{
  left: 1%;
  bottom: 0;
  position: absolute;
  color: #3b3131;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.version{
  right: 1%;
  bottom: 0;
  position: absolute;
  color: #3b3131;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.migu{
  top: 0;
  left: 0;
  position: absolute;
}

/* Debug
.debug{
  position: absolute;
  top: 0;
} */